* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #cfe7fc;
    color: #222;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 50px 20px 30px;
}

header h1 {
    color: #0088f7;
    font-size: 40px;
    margin-bottom: 10px;
}

header p {
    color: #555;
    font-size: 18px;
}

.cards-container {
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap:20px;
    max-width: 1200px;
    margin:0 auto;
}

.card {
    background: rgb(200, 220, 255);
    border-radius: 18px;
    padding: 35px 25px;
    text-align: center;
    min-height: 180px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);

    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(188, 231, 255, 0.2);
}

.card h2 {
    color: #1769aa;
    margin-bottom: 15px;
}

.card p {
    color: #666;
    line-height: 1.5;
}

footer {
    background-color: #1769aa;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Tablet */
@media (max-width: 900px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Celular */
@media (max-width: 600px) {
    header h1 {
        font-size: 30px;
    }

    .cards-container {
        grid-template-columns: 1fr;
        width: 85%;
    }
}