* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: #97afff;
    color: #222;
    min-height: 100vh;
}

/* CABEÇALHO */
header {
    text-align: center;
    padding: 50px 20px 30px;
}   
.titulo-disney {
    font-family: "Waltograph", cursive;
    font-size: 70px;
    text-align: center;
}
@font-face {
    font-family: "Waltograph";
    src: url("../fonts/waltograph42.otf") format("opentype");
}

header p {
    color: #555;
    font-size: 18px;
}

/* CARDS */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 18px;
    padding: 20px;
    text-align: center;
    min-height: 250px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.20);
}

/* IMAGEM */
.card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    border-radius: 12px;
    margin-bottom: 15px;
}

/* NOME */
.card h2 {
    color: #1769aa;
    font-size: 20px;
}

/* CONTROLES */
.controles {
    text-align: center;
    padding: 30px 20px 50px;
}

/* BOTÃO */
#botaoCarregar {
    background-color: #1769aa;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

#botaoCarregar:hover {
    background-color: #0f4d92;
    transform: scale(1.05);
}

#botaoCarregar:disabled {
    background-color: #999;
    cursor: not-allowed;
    transform: none;
}

/* PÁGINA */
#pagina {
    margin-top: 15px;
    color: #555;
    font-size: 17px;
}

/* TABLET */
@media (max-width: 900px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* CELULAR */
@media (max-width: 600px) {
    header {
        padding: 35px 15px 20px;
    }

    header h1 {
        font-size: 30px;
    }

    header p {
        font-size: 16px;
    }

    .cards-container {
        grid-template-columns: 1fr;
        width: 90%;
    }

    #botaoCarregar {
        width: 90%;
    }
}

.imagem-disney {
    width: 300px;
    max-width: 90%;
    display: block;
    margin: 20px auto;
    border-radius: 20px;
}

